<div fxLayout="row" fxLayout="start start" class="recipe-list-container">
  <div fxFlex="15">

      <mat-card>
        <mat-card-title>
          <button mat-button>
            <mat-icon>search</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-subtitle>Sort by...</mat-card-subtitle>

          <mat-card-content>
            <mat-form-field>
              <mat-select placeholder="Pokemon" [(ngModel)]="currentPokemonFromGroup">
                <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                  [disabled]="group.disabled">
                  <mat-option *ngFor="let creature of group.pokemon" [value]="creature.value">
                    {{ creature.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
  </div>
  <div fxFlex="85" fxFlexAlign="center" fxLayout="row" fxLayoutWrap>
      <mat-card *ngFor="let recipe of recipes" class="recipe-card">
          <mat-card-title >
              {{recipe.title}}
              <mat-icon>view_list</mat-icon>
              <mat-icon>sort</mat-icon>
          </mat-card-title>
          <mat-card-content>
                <img src="../../assets/images/{{recipe.name}}.jpg" [alt]="recipe.title">
                <span mat-line>Cook Time: {{recipe.cookTime}}</span>
          </mat-card-content>
          <mat-card-actions>
            <!-- <mat-icon>thumb_up</mat-icon> -->
            <mat-icon>edit</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>restaurant</mat-icon>
            <mat-icon>grade</mat-icon>
          </mat-card-actions>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>

  </div>
</div>


<!-- <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px" fxLayoutAlign="center center">

    <mat-card *ngFor="let recipe of recipes" class="recipe-card">
        <mat-card-title>
          All Recipes
        </mat-card-title>
        <mat-card-content>
              <img src="../../assets/images/apple.jpg" [alt]="recipe.title">
        </mat-card-content>
        <mat-card-actions>
            <h3 mat-line>{{recipe.title}}</h3>
            <span>Cook Time: {{recipe.cookTime}}</span>
            <mat-icon>star_border</mat-icon>
        </mat-card-actions>
      </mat-card>

</div> -->


<!-- <mat-card>
    <mat-card-title>
      All Recipes
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let recipe of recipes">
          <img src="../../assets/images/apple.jpg" [alt]="recipe.title">
          <mat-grid-tile-footer>
            <h3 mat-line>{{recipe.title}}</h3>
            <span>Cook Time: {{recipe.cookTime}}</span>
            <mat-icon>star_border</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
 -->


