<div class="background">
  <div fxLayout="column" fxLayoutAlign="space-between center" class="login-form">
    <mat-card  fxFlexAlign="center" class="login-card">

      <mat-toolbar color="primary" class="toolbar">
          <span class="login-icons">Login</span>
          <mat-toolbar-row class="login-icons">
              <mat-card-actions>
                  <button mat-icon-button>
                      <i class="fa fa-facebook-square"></i>
                    </button>
                    <button mat-icon-button>
                      <i class="fa fa-twitter"></i>
                    </button>
                    <button mat-icon-button>
                      <i class="fa fa-google-plus"></i>
                    </button>
                </mat-card-actions>
          </mat-toolbar-row>
      </mat-toolbar>

      <mat-card-content class="login-form-field">
        <mat-card-subtitle color="accent" class="login-title">Or Be Classical</mat-card-subtitle>

        <form action="" fxLayout="column">
          <mat-form-field color="accent" style="width: 90%">
            <input matInput placeholder="First Name">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>

          <mat-form-field color="accent" style="width: 90%">
            <input matInput placeholder="Email Address">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field color="accent" style="width: 90%">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
