<div class="background">
  <div fxLayout="column" fxLayoutAlign="space-between center" class="login-form">
    <mat-card fxFlexAlign="center" class="login-card">
      <mat-card-title color="accent">I forgot my password</mat-card-title>
      <mat-card-title color="accent">Not a problem!</mat-card-title>
      <mat-card-subtitle color="accent">
        Input the email address associated with your account below and we'll send you an email with instructions how to change your
        password.
      </mat-card-subtitle>
      <mat-card-content>
        <form action="">
          <mat-form-field color="accent" style="width: 90%">
            <input matInput placeholder="What is your first pet name?">
            <mat-icon matSuffix>lock_outline</mat-icon>
          </mat-form-field>
          <mat-form-field color="accent" style="width: 90%">
            <input matInput placeholder="Email Address">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">SEND RESET PASSWORD REQUEST</button>
      </mat-card-actions>
    </mat-card>

  </div>
