
<!-- <div fxLayout="column" fxLayoutAlign="center center"> -->
  <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="center center" class="mainHeader">
    <div>
      <button mat-raised-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous</button>
      <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
      <button mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next </button>
    </div>

    <div>
      <h3 class="monthName">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>





<!-- <div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="5px" fxLayout.xs="column">
      <mat-card fxFlex="1 1 29%">
          <img mat-card-image src="../../assets/images/berries1.jpg">
          <mat-card-title>Plan your meals</mat-card-title>
          <mat-card-content>
            <p>Have fun with planned meals</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button><mat-icon>thumb_up</mat-icon></button>
            <button mat-button><mat-icon>share</mat-icon></button>
          </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="1 1 29%">
          <img mat-card-image src="../../assets/images/matar.jpg">
          <mat-card-title>Learn new meals</mat-card-title>
          <mat-card-content>
            <p>Cook something new</p>
          </mat-card-content>
          <mat-card-actions align="end">
              <button mat-button><mat-icon>thumb_up</mat-icon></button>
              <button mat-button><mat-icon>share</mat-icon></button>
          </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="1 1 29%">
          <img mat-card-image src="../../assets/images/healthy.jpg">
          <mat-card-title>Pick healthy meals</mat-card-title>
          <mat-card-content>
            <p>Cook healthy meals</p>
          </mat-card-content>
          <mat-card-actions align="end">
              <button mat-button><mat-icon>thumb_up</mat-icon></button>
              <button mat-button><mat-icon>share</mat-icon></button>
          </mat-card-actions>
      </mat-card>
</div>

  <div style="min-width: 100%; ">
      <p>Menu ScheduleCalendar</p> <p>test</p>  <p>test</p>  <p>test</p>  <p>test</p> <p>test</p> <p>test</p>  <p>test</p>  <p>test</p>  <p>test</p> <p>test</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" >
    <div><p>Grocery list 1</p></div>
    <div><p>Grocery list 2</p></div>
    <div><p>Grocery list 3</p></div>
    <div><p>Grocery list 4</p></div>
    <div><p>Grocery list 5</p></div>
    <div><p>Grocery list 6</p></div>
    <div><p>Grocery list 7</p></div>
    <div><p>Grocery list 8</p></div>
    <div><p>Grocery list 9</p></div>
    <div><p>Grocery list 10</p></div>

  </div>

</div> -->
