.home-row1 {
  display: flex;
  flex-flow: row wrap;
  margin-left: 260px;

  .mat-card {
    margin: 0 16px 16px 0;
    width: 270px;

    img {
      background-color:gray;
    }
    & .mat-card-title {
      padding: 10px;
      font-weight:bold;
      font-size: 14px;
    }
    & .mat-toolbar {
      margin: 0px;
    }

    & .mat-card-content {
      padding:15px;

    &  .demo-fill-remaining {
          flex: 1 1 auto;
      }

    }
  }


}

.example-card {
  width: 335px;
}

.messages{
  background-color: #f06292;
}
